@media (prefers-color-scheme: dark)
{
    :root {
        --bgc: hsl(0, 0%, 0%);
        --card: linear-gradient(0deg, hsl(0, 0%, 10%) 95%, hsl(0, 0%, 25%));
        --card-hover: linear-gradient(0deg, hsl(0, 0%, 10%), hsl(0, 0%, 25%));
        --nestedCard01: hsl(40, 15%, 15%);
        --nestedCard02: hsl(40, 15%, 25%);

        --normal-textColor: hsl(30, 30%, 85%);
        --muted-textColor: hsl(30, 20%, 65%);
        --extraMuted-textColor: hsl(30, 20%, 45%);

        --border: hsl(0, 0%, 50%);
        --highlight-border: hsl(0, 0%, 65%);

        --correct: hsl(154 58% 29%);
        --wrong: hsl(356 49% 32%);
    }
}