:root {
    --bg-dark: hsl(0, 0%, 0%);
    --card-dark: linear-gradient(0deg, hsl(0, 0%, 10%) 95%, hsl(0, 0%, 25%));
    --card-hover-dark: linear-gradient(0deg, hsl(0, 0%, 10%), hsl(0, 0%, 25%));
    --nestedCard01-dark: hsl(40, 15%, 15%);
    --nestedCard02-dark: hsl(40, 15%, 25%);

    --normal-textColor-dark: hsl(30, 30%, 85%);
    --muted-textColor-dark: hsl(30, 20%, 65%);
    
    --border-dark: hsl(0, 0%, 50%);
    --highlight-border-dark: hsl(0, 0%, 65%);

    --correct-dark: hsl(154 58% 29%);
    --wrong-dark: hsl(356 49% 32%);
}

@media (prefers-color-scheme: dark)
{
    *{
        color: var(--normal-textColor-dark);
    }
    body{
        background-color: var(--bg-dark);
    }
    header, main{
        border: 1px solid var(--border-dark);
        border-top: 1px solid var(--highlight-border-dark);
        background: var(--card-dark);
    }
    header{
        background: var(--nestedCard01-dark);
    }
    header:hover, main:hover{
        background: var(--card-hover-dark);
    }

    main #quizzes{
        border: 1px solid var(--border-dark);
        background-color: var(--nestedCard01-dark);
    }
    main #quizzes li{
        border: 1px solid var(--border-dark);
        background-color: var(--nestedCard02-dark);
    }
    main #quizzes li:hover{
        background-color: transparent;
    }
    main #quizzes li a h3{
        color: var(--normal-textColor-dark);
    }
    .correctAnswer {
        background-color: var(--correct-dark) !important;
    }
    .wrongAnswer {
        background-color: var(--wrong-dark) !important;
    }
    controls button{
        color: var(--normal-textColor-dark);
    }
    #previousButton{
        background-color: var(--wrong-dark);
    }
    #nextButton{
        background-color: var(--correct-dark);
    }
    controls a{
        background-color: var(--correct-dark);
    }
    footer a{
        color: var(--primary-dark);
    }
}