/* for mobile phones & iPads: */
@media (max-width: 768px)
{
    header, main{
        margin: 1rem;
    }
    main{
        min-height: 40vh;
        margin-top: 2rem;
    }
    #question{
        font-size: 2rem;
    }
    hr{
        margin: 2rem;
        margin-top: 3.5rem;
        margin-bottom: 0rem;
    }
    controls{
        margin: 1rem 2rem;
        margin-top: 2.5rem;
    }
    tips{
        display: none;
    }
}